<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{:setting('name')}</title>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<!-- jQuery -->
{load href="__STATIC__/plugins/jquery/jquery-2.2.3.min.js"}
<!-- jQuery-File-Upload -->
{load href="__STATIC__/plugins/jquery-file-upload/js/vendor/jquery.ui.widget.js"}
{load href="__STATIC__/plugins/jquery-file-upload/js/jquery.iframe-transport.js"}
{load href="__STATIC__/plugins/jquery-file-upload/js/jquery.fileupload.js"}
{load href="__STATIC__/plugins/jquery-file-upload/js/jquery.fileupload-process.js"}
<!-- jQuery-DataTables -->
{load href="__STATIC__/plugins/datatables/css/dataTables.bootstrap.min.css"}
{load href="__STATIC__/plugins/datatables/js/jquery.dataTables.js"}
{load href="__STATIC__/plugins/datatables/js/dataTables.bootstrap.min.js"}
<!-- jQuery-treegrid -->
{load href="__STATIC__/plugins/jquery-treegrid/css/jquery.treegrid.css"}
{load href="__STATIC__/plugins/jquery-treegrid/js/jquery.treegrid.js"}
{load href="__STATIC__/plugins/jquery-treegrid/js/jquery.treegrid.bootstrap3.js"}
<!-- select2 -->
{load href="__STATIC__/plugins/select2/css/select2.min.css"}
{load href="__STATIC__/plugins/select2/js/select2.min.js"}
<!-- bootstrap -->
{load href="__STATIC__/plugins/bootstrap/css/bootstrap.min.css"}
{load href="__STATIC__/plugins/bootstrap/js/bootstrap.min.js"}
<!-- bootstrap-switch -->
{load href="__STATIC__/plugins/bootstrap-switch/css/bootstrap3/bootstrap-switch.min.css"}
{load href="__STATIC__/plugins/bootstrap-switch/js/bootstrap-switch.min.js"}
<!-- Font Awesome -->
{load href="__STATIC__/plugins/font-awesome/css/font-awesome.min.css"}
<!-- toastr -->
{load href="__STATIC__/plugins/toastr/toastr.min.css"}
{load href="__STATIC__/plugins/toastr/toastr.min.js"}
<!-- ladda -->
{load href="__STATIC__/plugins/ladda/ladda-themeless.min.css"}
{load href="__STATIC__/plugins/ladda/spin.min.js"}
{load href="__STATIC__/plugins/ladda/ladda.min.js"}
<!-- iCheck -->
{load href="__STATIC__/plugins/iCheck/all.css"}
{load href="__STATIC__/plugins/iCheck/icheck.min.js"}
<!-- remodal -->
{load href="__STATIC__/plugins/remodal/remodal.css">
{load href="__STATIC__/plugins/remodal/remodal-default-theme.css">
{load href="__STATIC__/plugins/remodal/remodal.min.js"}
<!-- ueditor -->
{load href="__STATIC__/plugins/ueditor/ueditor.config.js"}
{load href="__STATIC__/plugins/ueditor/ueditor.all.min.js"}
<!-- AdminLTE -->
{load href="__STATIC__/plugins/adminlte/css/AdminLTE.min.css"}
{load href="__STATIC__/plugins/adminlte/css/skins/_all-skins.css"}
{load href="__STATIC__/plugins/adminlte/js/adminlte.min.js"}
<!-- admin -->
{load href="__STATIC__/admin/css/libra.css"}
{load href="__STATIC__/admin/js/init.js"}
<script>
    var webinfo = {
        // 文件路径
        staticUrl: "__STATIC__",
        imageUrl: "{:image_url()}",
        videoUrl: "{:video_url()}",
        fileUrl: "{:file_url()}",
        // dataTables配置
        dataTable: {
            dom: "tr" +
                "<'row'<'col-sm-6'i><'col-sm-6'p>>",
            language: {
                url: "__STATIC__/plugins/datatables/js/locale/zh-CN.json"
            }
        },
        // treegrid配置
        treeGrid: {},
        // 编辑器配置
        editor: {
            serverUrl: "{:url('SystemFileUeditor/index')}",
        },
        // 表单预填充数据
        info: JSON.parse('{:json_encode(isset($info) ? $info : new StdClass())}'),
    }
</script>