{__NOLAYOUT__}
<!DOCTYPE html>
<html>

<head>
    {include file="layout/header"/}
</head>

<body class="hold-transition skin-blue">
    <div class="lockscreen-wrapper">
        <section class="content">
            <div class="error-page">
                {if $code}
                <h3 class="text-green"><i class="fa fa-check-circle"></i> {$msg}</h3>
                {else}
                <h3 class="text-red"><i class="fa fa-exclamation-circle"></i> {$msg}</h3>
                {/if}
                <p>
                    页面自动 <a id="href" href="{$url}">跳转</a> 等待时间： <b id="wait">{$wait}</b>
                </p>
            </div>
        </section>
    </div>
    <script type="text/javascript">
        (function(){
            var wait = document.getElementById('wait'),
                href = document.getElementById('href').href;
            var interval = setInterval(function(){
                var time = --wait.innerHTML;
                if(time <= 0) {
                    location.href = href;
                    clearInterval(interval);
                };
            }, 1000);
        })();
    </script>
    {include file="layout/footer"/}
</body>

</html>