<div class="box">
    <div class="box-body">
        <form method="POST" class="form-horizontal form_single">
            <div class="form-group">
                <div class="col-sm-6 col-sm-offset-2">
                    {foreach $list as $row}
                    <label>
                        <input class="icheck" type="checkbox" name="auth_ids[]" value="{$row.id}">
                        {$row.name}&nbsp;&nbsp;&nbsp;&nbsp;
                    </label>
                    {/foreach}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6 col-sm-offset-2">
                    <button type="submit" class="btn btn-primary ladda-button ajax-post" data-style="slide-up" target-form="form_single">确定</button>
                    <button type="button" class="btn btn-primary" onclick="history.back(-1);">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>