<div class="box">
    <div class="box-header">
        <a href="{:url('add')}" class="btn btn-primary">添加</a>
        <a href="{:url('delete')}" class="btn btn-danger batch_btn confirm ajax-post">删除</a>
    </div>
    <div class="box-body table-responsive">
        <table class="table table-bordered table-hover js-checkbox-tree datatable" data-order="[]">
            <thead>
                <tr>
                    <th class="checkbox-select-all">
                        <label>
                            <input class="icheck" type="checkbox" value="0">
                        </label>
                    </th>
                    <th>名称</th>
                    <th>昵称</th>
                    <th>登录时间</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {foreach $list as $row}
                <tr>
                    <td>
                        <label>
                            <input class="icheck" type="checkbox" name="id[]" value="{$row.id}" data-pid="0">
                        </label>
                    </td>
                    <td>{$row.username}</td>
                    <td>{$row.nickname}</td>
                    <td>{$row.login_time}</td>
                    <td>{$row.create_time}</td>
                    <td class="col-md-3">
                        <a href="{:url('auth', ['id' => $row.id])}" class="btn btn-info">权限</a>
                        <a href="{:url('edit', ['id' => $row.id])}" class="btn btn-primary">编辑</a>
                        <a href="{:url('delete', ['id' => $row.id])}" class="btn btn-danger confirm ajax-get">删除</a>
                    </td>
                </tr>
                {/foreach}
            </tbody>
        </table>
    </div>
</div>