<div class="row">
    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">系统信息</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body">
                <ul class="list-group list-group-unbordered">
                    {foreach $info as $name => $value}
                    <li class="list-group-item">
                        <b>{$name}</b> <span class="pull-right text-light-blue">{$value}</span>
                    </li>
                    {/foreach}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">最近登录</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table no-margin">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>用户</th>
                                <th>登录IP</th>
                                <th>登录时间</th>
                            </tr>
                        </thead>
                        <tbody>
                            {foreach $admin_list as $row}
                            <tr>
                                <td>{$row.id}</td>
                                <td>{$row.nickname}</td>
                                <td>{$row.login_ip}</td>
                                <td>{$row.login_time}</td>
                            </tr>
                            {/foreach}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="box-footer clearfix">
                <a href="{:url('admin/index')}" class="btn btn-sm btn-info btn-flat pull-left">查看所有</a>
            </div>
        </div>
    </div>
</div>