<div class="box">
    <div class="box-body">
        <form method="POST" class="form-horizontal form_single">
            <div class="form-group">
                <label class="col-sm-2 control-label">账号</label>
                <div class="col-sm-6">
                    <input name="username" class="form-control" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">密码</label>
                <div class="col-sm-6">
                    <input type="password" name="password" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">昵称</label>
                <div class="col-sm-6">
                    <input name="nickname" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">头像</label>
                <div class="col-sm-6">
                    {:action('Widget/upload', ['type' => 'image' ,'name' => 'avatar', 'value' => isset($info.avatar) ? $info.avatar : ''])}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6 col-sm-offset-2">
                    <button type="submit" class="btn btn-primary ladda-button ajax-post" data-style="slide-up" target-form="form_single">确定</button>
                    <button type="button" class="btn btn-primary" onclick="history.back(-1);">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>