<div class="box">
    <div class="box-header">
        <a href="{:url('delete')}" class="btn btn-danger batch_btn confirm ajax-post">删除</a>
    </div>
    <div class="box-body table-responsive">
        <table class="table table-bordered table-hover js-checkbox-tree datatable" data-order="[]">
            <thead>
                <tr>
                    <th class="checkbox-select-all">
                        <label>
                            <input class="icheck" type="checkbox" value="0">
                        </label>
                    </th>
                    <th>名称</th>
                    <th>用户</th>
                    <th>菜单</th>
                    <th>链接</th>
                    <th>IP</th>
                    <th>时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {foreach $list as $row}
                <tr>
                    <td>
                        <label>
                            <input class="icheck" type="checkbox" name="id[]" value="{$row.id}" data-pid="0">
                        </label>
                    </td>
                    <td>{$row.name}</td>
                    <td>{$row.user.username}</td>
                    <td>{$row.menu.title}</td>
                    <td>{$row.url}</td>
                    <td>{$row.ip}</td>
                    <td>{$row.create_time}</td>
                    <td class="col-md-3">
                        <a href="{:url('delete', ['id' => $row.id])}" class="btn btn-danger confirm ajax-get">删除</a>
                    </td>
                </tr>
                {/foreach}
            </tbody>
        </table>
    </div>
</div>