<!DOCTYPE html>
<html>

<head>
    {include file="layout/header"/}
</head>

<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <b>{:setting('name')}</b>
        </div>
        <div class="login-box-body">
            <p class="login-box-msg">请输入您的登录信息</p>
            <form action="{:url('login')}" method="post" class="admin-login-form">
                <div class="form-group">
                    <input type="text" name="username" class="form-control" placeholder="请输入账号">
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control" placeholder="请输入密码">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="form-group">
                    <img src="{:captcha_src()}" alt="captcha" class="admin-login-captcha-img captcha_change" width="100%" id="captcha_img" />
                </div>
                <div class="form-group">
                    <input type="text" name="verify" class="form-control" placeholder="请输入验证码">
                    <span class="glyphicon glyphicon-open form-control-feedback"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block btn-flat ladda-button login-submit-button">
                        <span class="ladda-label">登 录</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    {include file="layout/footer"/}
</body>

</html>