<div class="box">
    <div class="box-body table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>名称</th>
                    <th>驱动</th>
                    <th>描述</th>
                    <th>版本</th>
                    <th>作者</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {if count($list)}
                {foreach $list as $row}
                <tr>
                    <td>{$row.driver_name}</td>
                    <td>{$row.driver_class}</td>
                    <td>{$row.driver_describe}</td>
                    <td>{$row.author}</td>
                    <td>{$row.version}</td>
                    <td>
                        {if !in_array($row.driver_class, $driver)}
                        <a href="{:url('add', ['type' => $type, 'driver' => $row.driver_class])}" class="btn btn-primary">安装</a>
                        {else}
                        <a href="{:url('edit', ['type' => $type, 'driver' => $row.driver_class])}" class="btn btn-primary">设置</a>
                        <a href="{:url('delete', ['type' => $type, 'driver' => $row.driver_class])}" class="btn btn-danger confirm ajax-get">卸载</a>
                        {/if}
                    </td>
                </tr>
                {/foreach}
                {else}
                <tr class="odd">
                    <td colspan="6" class="text-center" valign="top">表中数据为空</td>
                </tr>
                {/if}
            </tbody>
        </table>
    </div>
</div>