<div class="box">
    <div class="box-body table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>名称</th>
                    <th>类名</th>
                    <th>描述</th>
                    <th>作者</th>
                    <th>版本</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {foreach $list as $row}
                <tr>
                    <td>{$row.type_name}</td>
                    <td>{$row.type_class}</td>
                    <td>{$row.type_describe}</td>
                    <td>{$row.author}</td>
                    <td>{$row.version}</td>
                    <td>
                        <a href="{:url('driver', ['type' => $row.type_class])}" class="btn btn-primary">驱动</a>
                    </td>
                </tr>
                {/foreach}
            </tbody>
        </table>
    </div>
</div>