<div class="box">
    <div class="box-body">
        <form method="POST" class="form-horizontal form_single">
            <div class="form-group">
                <label class="col-sm-2 control-label">系统名称</label>
                <div class="col-sm-6">
                    <input name="name" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">开启管理日志</label>
                <div class="col-sm-6">
                    <input type="checkbox" name="open_admin_log" class="switch">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">存储插件</label>
                <div class="col-sm-6">
                    <select name="storage" class="form-control">
                        <option value="">请选择</option>
                        {foreach $storagePluginList as $k => $v}
                        <option value="{$k}">{$v}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6 col-sm-offset-2">
                    <button type="submit" class="btn btn-primary ladda-button ajax-post" data-style="slide-up" target-form="form_single">确定</button>
                    <button type="button" class="btn btn-primary" onclick="history.back(-1);">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>