<div class="col-sm-12 form-group" id="{$md5}">
    <a class="btn btn-primary action-add">添加</a>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>名称</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {foreach $value as $key => $val}
            <tr>
                <td><input name="{$name}['{$key}']" class="form-control" value="{$val}"></td>
                <td>
                    <a class="btn btn-primary action-up">上移</a>
                    <a class="btn btn-primary action-down">下移</a>
                    <a class="btn btn-danger confirm action-delete">删除</a>
                </td>
            </tr>
            {/foreach}
        </tbody>
    </table>
</div>
<script>
    $("#{$md5} .action-add").click(function () {
        var tr = '<tr>\
            <td><input name="{$name}[]" class="form-control"></td>\
            <td>\
                <a class="btn btn-primary action-up">上移</a>\
                <a class="btn btn-primary action-down">下移</a>\
                <a class="btn btn-danger confirm action-delete">删除</a>\
            </td>\
        </tr>';
        $("#{$md5} table tbody").append(tr);
    })
    $("#{$md5}").on("click", ".action-up", function () {
        var tr = $(this).parents("tr");
        if (tr.prev().length) {
            tr.prev().before(tr);
        }
    })
    $("#{$md5}").on("click", ".action-down", function () {
        var tr = $(this).parents("tr");
        if (tr.next().length) {
            tr.next().after(tr);
        }
    })
    $("#{$md5}").on("click", ".action-delete", function () {
        if ($(this).hasClass("confirm")) {
            if (!confirm("确认要执行该操作吗?")) {
                return false;
            }
        }
        $(this).parents("tr").remove();
    })
</script>