<div class="col-sm-12 form-group">
    <label class="btn btn-info btn-file">
        选择文件
        <input type="file" id="{$md5}" name="{$md5}" accept="{:implode(',', $ext)}">
        <input type="hidden" name="{$name}">
    </label>
</div>
<div class="col-sm-6 form-group hide" id="{$name}_prview">
    <span class="mailbox-attachment-icon has-img"></span>
    <div class="mailbox-attachment-info">
        <a class="mailbox-attachment-name info-box-text" target="_blank"></a>
    </div>
</div>
<script>
    $(function () {
        $("#{$md5}").fileupload({
            url: "{:url('SystemFile/upload', ['type' => 'image', 'name' => $md5])}",
            dataType: "json",
            done: function (e, data) {
                var result = data.result;
                if (result.code == 0) {
                    toast.error(result.msg);
                    return false;
                }
                preview(result.data.url);
                $("input[name={$name}]").val(result.data.url);
            }
        });
        preview('{$value}');
        function preview(url) {
            if (!url) {
                return false;
            }
            $("#{$name}_prview .mailbox-attachment-icon").html($('<img src="' + webinfo.imageUrl + url + '" onerror="this.src = \'__STATIC__/admin/img/onimg.png\'">'));
            $("#{$name}_prview .mailbox-attachment-info a").attr("href", webinfo.imageUrl + url).html('<i class="fa fa-camera"></i> ' + basename(url));
            $("#{$name}_prview").removeClass("hide");
        }
    });
</script>