<div class="box">
    <div class="box-body">
        <form method="POST" class="form-horizontal form_single">
            <div class="form-group">
                <div class="col-sm-6 col-sm-offset-2">
                    <table class="table table-bordered table-hover js-checkbox-tree treegrid">
                        {foreach $list as $row}
                        <tr class="treegrid-{$row.id}{if $row.parent_id} treegrid-parent-{$row.parent_id}{/if}">
                            <td>
                                <label>
                                    <input class="icheck" type="checkbox" name="id[]" value="{$row.id}" data-pid="{$row.parent_id}">
                                </label>
                                <i class="{$row.icon}"></i>
                                {$row.title}
                                <span class="pull-right">{$row.status_text|raw}</span>
                            </td>
                        </tr>
                        {/foreach}
                    </table>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6 col-sm-offset-2">
                    <button type="submit" class="btn btn-primary ladda-button ajax-post" data-style="slide-up" target-form="form_single">确定</button>
                    <button type="button" class="btn btn-primary" onclick="history.back(-1);">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>